.contents-item-2col {
position: relative; 
padding-bottom: 1.5rem; 

&__lastitem h3{
  margin-top:.6875rem;
  padding-bottom:.6rem;
  border-bottom:1px solid #ccc;
}
@mixin atSmall {
  padding-left: 180px;
  margin-bottom: 3.9rem; 
  &__lastitem {
    padding-top:.1rem;
  }
  &__lastitem h3{
    padding-left:0px;
    margin-left:-180px;
    margin-top:.6875rem;
    margin-bottom:.6875rem;
    border-bottom:1px solid #ccc;
    }
    &__lastitem h3::before{
      content:". "

    }
}

  
span {
  display: block; 
  text-align:center;
  @mixin atSmall {
    text-align:left;
  }
}
p {
  display: block; 
  text-align:center;
  @mixin atSmall {
    text-align:left;
  }
}

&__photo {
  display: block; 
  margin:0 auto; 
  width:130px;

  @mixin atSmall {
    position: absolute; 
    left: 0; 
    width:160px;
  }
}

&__title {
  text-align: center;
  font-size: .9rem;
  font-weight:700;
  color: $titleBlue;

  @mixin atSmall {
    text-align: left;
    margin-top: 3px;
    font-size: .9rem;
  }
}
  

}