.contents-item {
  
  padding: 0 18px 1px 18px;
  margin-bottom: 98px;

  border:1px solid #999;
 

  @mixin atLarge {
    margin-bottom: 0;
    padding: 0 1.8125rem 1px 1.8125rem;
    background-color:1px solid #999;
    max-width:310px;
  }

  &--last {
    margin-bottom: 0;
  }

  &__photo {
    text-align: center;

    margin: 0 auto -80px auto;
    position: relative;
    

    @mixin atMedium {
      width: 320px;
      height: 320px;
      margin: 0 auto 0 auto;
      position: relative;
      border: 6px solid rgba(255, 255, 255, .8);
    }
  }

  &__title {

    color: $mainBlue;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;

    @mixin atLarge {
      margin: 0 .25rem 0 .25rem;
    }
  }

  &__subtitle {
    color: $mainOrange;
    text-align: center;
    font-weight: 400;
    font-size: 0.9375rem;
    margin: .25rem 0 1rem 0;
  }

  p {
    max-width:270px;
  }
}