.contents-item {
  
  padding: 0 18px 1px 18px;


  &--last {
    margin-bottom:4rem;
  }

  @mixin atLarge {
    margin-bottom: 0;
    padding: 0 1.8125rem 1px 1.8125rem;
  }

  &__photo {
    margin: 0 auto 0 auto;
    position: relative;
    border: 6px solid rgba(255, 255, 255, .8);
    text-align:center; 

    @mixin atMedium {
      margin: 0 auto 0 auto;
      position: relative;
      border: 6px solid rgba(255, 255, 255, .8);
      text-align:center;
    }
  }

  &__title {

    color: $mainBlue;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;

    @mixin atLarge {
      margin: 0 .25rem 0 .25rem;
    }
  }

 &__section-title {
  text-align: center;
  font-size: .9rem;
  font-weight:700;
  color: $titleBlue;
  }

&__title {
  color: $mainBlue;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}
}