.contents-item-2col {
position: relative; 
padding-bottom: 1.5rem; 
@mixin atSmall {
  padding-left: 180px;
  margin-bottom: 3.9rem; 
}

span {
  display: block; 
  text-align:center;
  @mixin atSmall {
    text-align:left;
  }
}
p {
  display: block; 
  text-align:center;
  @mixin atSmall {
    text-align:left;
  }
}

&__photo {
  display: block; 
  margin:0 auto; 
  width:130px;

  @mixin atSmall {
    position: absolute; 
    left: 0; 
    width:160px;
    
  }
}

&__title {
  text-align: center;
  font-size: .9rem;
  font-weight:700;
  color: $titleBlue;

  @mixin atSmall {
    text-align: left;
    margin-top: 3px;
    font-size: .9rem;
  }
}
  
}