.present {
  /*padding: .5rem 18px 1px 18px;*/
  margin-bottom: 98px;
  margin-top:98px;
  background: #f8f8f8 url('../../assets/images/bk01.png') top repeat;
  text-align:center;
  padding:0 1.8125rem 1px 1.8125rem; 
  &--wrapper {
　　border:1px solid #999;
  }
  @mixin atSmall {
    display:block; 
    margin: 0 auto; 
  }
  
  @mixin atLarge {
    margin-bottom: 0; 
    padding:0 1.8125rem 1px 1.8125rem; 
  }
  
  &__photo {

    margin: 0 auto 0 auto;
    position: relative;
    /*border: 6px solid rgba(255, 255, 255, .8);*/
    text-align:center;
    display:block;
  
  
    @mixin atMedium {
      margin: 0 auto 0 auto;
      position: relative;
      /*border: 6px solid rgba(255, 255, 255, .8);*/
      text-align:center;
    }
  }

  &__title {
      font-size:1.25em; 
      background: url('../../assets/images/present.png') top no-repeat;
      font-weight: 500;
      text-align: center;
      margin: .25rem 0 .5rem 0;
      width: 100%; height:auto; 
      background-size:100%;
      color:white;
      padding:8px .25rem;
      border:none;
    @mixin atSmall {
      color: $mainBlue;
      text-align: center;
      font-size: 1.25em;
      font-weight: 500;
      margin: .5rem 0 .5rem 0;
      background: url('../../assets/images/present.png') top no-repeat;
      width: 100%; 
      height:auto; 
      background-size:100%;
      color:white;
      padding:8px .25rem;
    }
    @mixin atMedium {
      color: $mainBlue;
      text-align: center;
      font-size: 1em;
      font-weight: 500;
      margin: .5rem 0 .5rem 0;
      background: url('../../assets/images/present.png') top no-repeat;
      width: 100%; height:auto; 
      background-size:100%;
      color:white;
      padding:3px .25rem;
    }
    @mixin atLarge {
      color: $mainBlue;
      text-align: center;
      font-size: 1.475em;
      font-weight: 500;
      margin: .5rem 0 .5rem 0;
      background: url('../../assets/images/present.png') top no-repeat;
      width: 100%; height:auto; 
      background-size:100%;
      color:white;
      padding:3px .25rem;
    }
    
  }

  &__subtitle {
    color: $mainOrange;
    text-align: center;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: .25rem 0 1rem 0;
    @mixin atSmall {
      font-size: 0.9375rem;
    }
    @mixin atMedium {
      font-size: 0.8rem;
    }
    @mixin atLarge {
      font-size: 0.9375rem;
    }
  }
   p a {
    font-weight: 300;
  }
    &__body a {
    text-align:center;
    @mixin atSmall {
      font-size: 1rem;
    }
    @mixin atMedium {
      border:none;
      font-size: 1.125rem;
    }
  }
}