.present {
  /*padding: .5rem 18px 1px 18px;*/
  margin-bottom: 98px;
  margin-top:98px;
  background: #f8f8f8 url('../../assets/images/bk01.png') top repeat;
  @mixin atSmall {
    display: block; 
    margin: 0 auto; 
  }
  @mixin atMedium {
    margin-top:0;
  }
  @mixin atLarge {
    margin-bottom: 0;
    margin-top:0;
    padding: 0 1.8125rem 1px 1.8125rem;
  }

  &--last {
    margin-bottom: 0;
    text-align: center;
  }

  &__photo {
    /*border-radius: 80px;
    overflow: hidden;*/
    width: 310px;
    height: 310px;
    margin: .75rem auto .25rem auto;
    position: relative;

  }

  &__title {
    color: $mainBlue;
    text-align: center;
    font-size: 1.4375em;
    font-weight: 500;
    margin: .25rem 0 0 0;
    background: url('../../assets/images/present.png') top no-repeat;
    width: 100%; height:auto; 
    background-size:100%;
    color:white;
    padding:8px .25rem;
  }

  &__subtitle {
    color: $mainOrange;
    text-align: center;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: .25rem 0 1rem 0;
  }
   p a {
    font-weight: 300;
  }
}